extends layout/main
include mixins/videoBlock

block contents
    .home__VideoBlock
        each item in searchedResult
            +videoBlock({
                id: item.id,
                title: item.title,
                description: item.description,
                fileUrl:item.fileUrl
            })